@import "../theme.scss";

.homeHeader {
    font-size: 24px;
    color: $primary-color;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

.marginBorder {
    margin-bottom: 40px;
    border-bottom: solid $secondary-color;
}

.homeInfo {
    border-top: solid $secondary-color;
    text-align: center;
}

.homeImgae {
    width: 100%;
    margin-bottom: 40px;
}

.imageBorder {
    padding-bottom: 40px;
    border-bottom: solid $secondary-color;
}

.newsletter {
    text-align: center;
}

.tuluLipi {
    font-size: medium;
}
.disclamer{
    font-size: smaller;
    padding: unset;
    margin: unset;
}

.listName{
    font-size: 24px;
    color: $primary-color;
    text-align: justify;
    padding-left: 10px;
    margin-left: 10px;
}

.lsitAddress{
    font-size: 15px;
    font-style: italic;
}

.listBoredr{
    border-bottom: solid $secondary-color;
}

.viewer-layout-toolbar{
    display: contents;
}
