@import "../theme.scss";

.layout {

    @media (max-width: 640px) {
       width: fit-content;
    }
    
    .ant-layout-header {
        height: auto;
        background-color: $primary-color;
        border-bottom: solid $secondary-color;
    }

    .title {
        text-align: center;
        display: block;
        font-size: 2rem;
        color: $secondary-color;
        font-weight: bolder;
        font-family: serif;
    }
      @media (max-width: 640px) {
         .title{
             font-size: small;
             height: 25px;
         }
      }
    .bannerImage {
        width: 100%;
    }

    .ant-layout-sider-trigger {
        color: $third-color;
        background-color: $secondary-color;
    }

    .sidebar {
        background-color: $primary-color;
        min-height: 100vh;
    }

    .sidebar .ant-menu {
        background-color: $primary-color;

        .ant-menu-item-selected {
            background-color: $secondary-color;
        }
    }

    .sidebar .ant-menu-item {
        color: $third-color;
    }

    .ant-menu-item-selected {
        a {
            color: $third-color;
        }
    }

    .sidebar .ant-menu-submenu-arrow {
        color: $third-color;
    }

    .sidebar .ant-menu-title-content {
        color: $third-color;
    }

    .sidebar .ant-menu-submenu-title {
        color: $third-color;
    }

    .scrollUp {
        line-height: 40px;
        border-radius: 50%;
        background-color: $primary-color;
        text-align: center;
        font-size: 14px;
        color: $third-color;
    }

    .footerStyle{ 
            // margin: auto;
            // width: 50%;
            // display: flex
           background-color: $secondary-color;
            text-align: center;;
    }
    .socialmediaimage{
        font-size: 30px;
        margin-right: 20px;
    }
    .youtube{
        color: #eb3223;
    }
    .instagram{
        color: black;
    }
    .facebook {
        color: #4968ad;
    }
    .footerHeader{
        font-size: 20px;
        color:$primary-color;
    }
}
